.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;

  .time-now {
    color: #5c697d;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
  }

  .total-price {
    font-family: Play;
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
  }

  .price-title {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .button-price {
    border-radius: 4px;
    background-color: #ff3e55;
    padding: 0 25px;
    height: 60px;
    cursor: pointer;
    color: #ffffff;
    font-family: Play;
    font-size: 20px;
    font-weight: 700;
  }

  .button-price:hover {
    box-shadow: 3px 3px 16px #e8b1bd;
    border-radius: 4px;
    background-color: #e81542;
  }

  .button-price:active {
    background-color: #bf0036;
  }
}

@media only screen and (max-width: 1020px) {
  .ant-col-4, .ant-col-12, .ant-col-8 {
    width: 100%;
    
    .container {
      padding: 0 20px;
    }

    .price {
      align-items: center;
    }
  }

  .ant-col-12 {
    padding: 0 20%;
  }
}

@media only screen and (max-width: 500px) {
  .ant-col-4 {
    padding: 10px 10px;
  }

  .price {
    .price-title {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .button-price {
    width: 100%;
  }
}
