.deadline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #d1d8e2;
  padding: 6px 20px;
  align-items: center;
  margin-top: 1.5vh;

  span {
    font-family: Play;
    font-size: 16px;
    font-weight: 700;
  }
}

.button-timing {
  display: flex;
  cursor: pointer;
}

.desc {
  color: #5c697d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 3;
  margin-left: 10px;
}

.desc-time {
  color: #5c697d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 3;
  margin-left: 10px;
}


@media only screen and (max-width : 500px) {
  .desc-time {
    display: none;
  }
}

