.menu {
    font-family: Play;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;

    .ant-menu {
        background-color: #f7f9fb;
    }

    .ant-menu-item, .ant-menu-submenu-title {
        padding: 12px 28px;
    }
}