.page {
  margin-top: 1.5vh;

  .page-words {
    width: 98%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #d1d8e2;
    padding: 6px 20px;
    align-items: center;
    height: 38px;

    span {
      font-family: Play;
      font-size: 16px;
      font-weight: 700;
    }

    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;

      .button-timing {
        border-radius: 20px;
        border: 1px solid #d1d8e2;
        height: 22px;
        width: 22px;
        padding: 0 6px;
        margin-left: 5px;

        :active {
          border-radius: 20px;
          border: 1px solid #d1d8e2;
          height: 22px;
          width: 22px;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width : 500px) {
  .page .page-words {
    width: 100%;
  }
}

