.card-slider {
  
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.slick-active { 
  background: #377fea;

  .content {
    h5, span {
      color: #fff;
    }
  }
}

.slick-slide {
  width: 96px;
  height: 128px;
  border-radius: 4px;
  border: 1px solid #d1d8e2;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
    }

    h5 {
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }
}

@media only screen and (max-width : 500px) {
  .ant-col-12 {
      width: 100%;
      padding: 10px 10px;
  }
}