.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3vh 0;

  .header-name {
    font-family: "Play", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }

  .header-switch {
    strong {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding-right: 15px;
    } 
  }

  input[type="checkbox"] {
      position: relative;
      width: 35px;
      height: 15px;
      -webkit-appearance: none;
      outline: none;
      border-radius: 10px;
      border: 1px solid #d1d8e2;
      align-items: center;
      cursor: pointer;
  }

  input:checked[type="checkbox"] {
    background-color: #fff;
  }

  input[type="checkbox"]::before {
      content: '';
      position: absolute;
      background-color: #a9c3ea;
      box-shadow: 3px 3px 16px #a9c3ea;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      top: -3px;
      left: 0;
      transform: scale(1.1);
      transition: .5s;
  }

  input:checked[type="checkbox"]::before {
      left: 13px;
      background-color: #377fea;
  }
}

@media only screen and (max-width : 500px) {
  .header {
    margin: 0 10px;
    flex-wrap: wrap;

    span {
      margin-top: 10px;
      font-size: 16px;
    }
  
    .header-name {
      font-size: 38px;
    }
  }
}
