.container {
  max-width: 1100px;
  margin: auto;

  .select-label {
    width: 98%;
  }

  .select-label-top {
    width: 95%;
  }

  .ant-select-selection {
    height: 40px;

    .ant-select-arrow {
      right: 22px;
    }
  }

  .ant-select-selection__rendered {
    height: 40px;
    line-height: 36px;
  }

  .ant-time-picker-input {
    height: 40px;
    padding: 0 20px;
  }
}

.button-group,
.button-timing {
  font-size: 18px;
}

.anticon {
  color: #377fea !important;
}

.button-group > .anticon {
  margin-left: 10px;
}

.plus-button > svg {
  color: #377fea;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width : 500px) {
  .container {
    padding: 0 10px;
    padding-bottom: 50px;

    .select-label {
      width: 100%;
    }
  }
}
